<form name="test" method="post">
    <h1 class="center"> The chat </h1>
        {{> input text='Логин:' name='login' type='text'}}
        {{> input text='Пароль:' name='password' type='password'}}

    {{> button text='Войти' }}


</form>