<form name="test" method="post" action="input1.php">
    <h1 style="text-align: center">Вход </h1>
    <p>Логин:<br>
        <input type="text" name="login" size="40">
    </p>
    <p>Пароль:<br>
        <input type="text" name="password" size="40">
    </p>

    {{> button text='Зарегистрироваться' }}


</form>