<section class="input-content">
    <div class="input-content-wrap">
        <dl class="inputbox">
            <dd class="inputbox-content">
                <input id="{{name}}" type="{{type}}" required/>
                <label for="{{name}}">{{text}}</label>
                <span class="underline"></span>
            </dd>
        </dl>
    </div>
</section>