<div >
<div style="display: flex;
  justify-content: center;">
    <div class="center">
        {{>avatar}}
        <h1 class="center">Михаил</h1>
    </div>
</div>
    <div>
        {{>row label="Почта" value="sprint1@mail.ru"}}
        {{>row label="Логин" value="sprint1"}}
        {{>row label="Имя" value="Михаил"}}
        {{>row label="Фамилия" value="Владимирович"}}
        {{>row label="Имя в чате" value="Mars"}}
        {{>row label="Телефон" value="8 (205) 99-95-89"}}
        {{>row label="Почта" value="sprint1@mail.ru"}}

    </div>

</div>